<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="container-fluid">
        <div class="header__content">
            <div class="header__logo">
                <a th:href="@{/}">
                    <img
                            th:src="@{/images/logo/nado_white (1).png}"
                            alt="nado_white"
                    />
                </a>
            </div>
            <div class="header__menu">
                <ul class="header__nav mb-0">
                    <li class="header__nav-item">

                        <a
                                class="header__nav-link  active"
                                th:href="@{/}"
                                role="button"

                        >Home</a
                        >


                    </li>
                </ul>
                <a class="header__nav-link" th:href="@{/recommend}" >
                    도서추천
                </a>
                </li>

                <li class="header__nav-item">
                    <a
                            class="header__nav-link"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-bs-offset="0,10"
                    >내 서재</a
                    >

                    <ul class="dropdown-menu header__nav-menu">
                        <li>
                            <a class="drop-down-item" th:href="@{/bookshelf}"
                            >내 서재 목록(작성중)</a>
                        </li>
                        <li>
                            <a class="drop-down-item" th:href="@{/passage}">구절 등록</a>
                        </li>
                        <li>
                            <a class="drop-down-item" th:href="@{/review}">한줄평</a>
                        </li>
                    </ul>
                </li>
<!--                <li class="header__nav-item">-->
<!--                    <a class="header__nav-link" th:href="@{/pboard}">나만의 구절</a>-->
<!--                </li>-->
                <li class="header__nav-item">
                    <a class="header__nav-link" th:href="@{/board/list}">토론장</a>
                </li>
                <li class="header__nav-item">


                    <ul
                            class="dropdown-menu header__nav-menu"
                            data-popper-placement="top-start"
                    >
                        <li>
                            <a class="drop-down-item" href="activity.html"
                            >내 정보 조회</a
                            >
                        </li>
                        <li>
                            <a class="drop-down-item" href="help.html">공백</a>
                        </li>
                        <li>
                            <a class="drop-down-item" href="help-single.html">공백</a>
                        </li>
                    </ul>
                </li>
                </ul>
            </div>

            <div class="header__actions">
                <div class="header__action header__action--search">
                    <button class="header__action-btn" type="button">
                        <i class="icofont-search-1"></i>
                    </button>
                </div>

                <div class="header__action header__action--profile">
                    <div class="dropdown">
                        <a
                                class="dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-bs-offset="-100,10"
                        >
                            <span><i class="icofont-user"></i></span>
                            <div th:if="${#authorization.expr('isAuthenticated()')}"></div>
                            <span class="d-none d-md-inline" th:text="${#authentication.getName()}"></span>
                            <div th:unless="${#authorization.expr('isAuthenticated()')}">
                                <a href="/login" th:href="@{/login}">Login</a>
                            </div>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{/mypage}">
                                <span class="me-1"><i class="icofont-options"></i></span>
                                    My Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wallet-btn">
                    <a href="wallet.html"
                    ><span><i class="icofont-wallet" data-blast="color"></i></span>
                        <div th:if="${#authorization.expr('isAuthenticated()')}"></div>
                        <span class="d-none d-md-inline"><a href="/logout" th:href="@{/logout}">Logout</a></span>
                        <div th:unless="${#authorization.expr('isAuthenticated()')}">
                        </div>
                    </a>
                </div>
            </div>

            <button class="menu-trigger header__btn" id="menu05">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
</body>
</html>