<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="drag" id="drag-container">
    <div id="spin-container">
        <!-- Add your images (or video) here -->

        <img
                src="/images/nft-item/위저드베이커리.jpg"
                alt="nft-img"/>
        <img
                src="/images/nft-item/달러구트꿈백화점.jpg"
                alt="nft-img"/>
        <img
                src="/images/nft-item/불편한편의점.jpg"
                alt="nft-img"/>
        <img
                src="/images/nft-item/아몬드.jpg"
                alt="nft-img"/>
        <img
                src="/images/nft-item/위저드베이커리.jpg"
                alt="nft-img"/>
        <img
                src="/images/nft-item/달러구트꿈백화점.jpg"
                alt="nft-img"/>
        <img
                src="/images/nft-item/불편한편의점.jpg"
                alt="nft-img"/>
        <img
                src="/images/nft-item/아몬드.jpg"
                alt="nft-img"/>


    </div>
    <div id="ground"></div>
</div>

</body>
</html>