<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="footer-section" th:fragment="footer">
    <div class="footer-top">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row g-4 align-items-center justify-content-center">
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="text-center py-0 mb-0">
            <a th:href="@{/}">
                <img
                        th:src="@{/images/logo/nado_white%20(1).png}"
                        alt="nado_white"
                />
            </a>
        </div>
        <div class="container">
            <p class="text-center py-4 mb-0">
                All rights reserved &copy; 나만의 도서관

            </p>
        </div>
    </div>
</footer>
</body>
</html>