<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">

    <meta name="author" content="Labartisan">
    <meta name="description"
        content="Anftiz is a full-fledged NFT or Digital assets marketplace HTML template. It is suitable for selling NFTs, or non-fungible tokens, Digital Arts, Digital Music & All types of Digital Assets. You can create, sell & collect NFT’s or digital assets through this website.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags for Social Media(Better SEO) -->
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:type" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->

    <!-- site favicon -->
    <link rel="icon" type="image/png" href="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/favicon.png">

    <!-- ====== All css file ========= -->
    <link rel="stylesheet" href="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css//icofont.min.css">
    <link rel="stylesheet" href="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/css/animate.css">
    <link rel="stylesheet" href="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/css/style.css">

 <!-- site title -->
 <title>나만의 도서관- MBTI에 맞는 도서추천 사이트</title>
</head>

<body class="home-3">
  <!-- preloader start here -->
  <div class="preloader">
    <div class="preloader-inner">
      <div class="preloader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- preloader ending here -->

    <!-- ===============// header section start here \\================= -->
    <header class="header">
        <div class="container-fluid">
          <div class="header__content">
            <div class="header__logo">
              <a href="home.html">
                <img
                  src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/logo/nado_white%20(1).png"
                  alt="nado_white"
                />
              </a>
            </div>
            <div class="header__menu">
                <ul class="header__nav mb-0">
                    <li class="header__nav-item">
                     
                       <a
                         class="header__nav-link"
                         href="home.html"
                         role="button"
                       
                         >Home</a
                       >
       
                       
                     </li>
                   </ul>
                </ul>
                  <a
                    class="header__nav-link"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-offset="0,10"
                    >도서추천</a
                  >
  
                  <ul class="dropdown-menu header__nav-menu">
                    <li>
                      <a class="drop-down-item active" href="recommend.html"
                        >MBTI별 도서추천</a
                      >
                    </li>
                  </ul>
                </li>
                
                <li class="header__nav-item">
                  <a
                    class="header__nav-link active"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-offset="0,10"
                    >내 서재</a
                  >
  
                  <ul class="dropdown-menu header__nav-menu">
                    <li>
                      <a class="drop-down-item" href="bookshelf.html"
                        >내 서재 목록(작성중)</a
                      >
                    </li>
                    <li>
                      <a class="drop-down-item" href="passage.html">구절 등록</a>
                    </li>
                    <li>
                      <a class="drop-down-item" href="review.html"> 한줄평</a>
                    </li>
                  </ul>
                </li>
                <li class="header__nav-item">
                  <a
                    class="header__nav-link"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-offset="0,10"
                    >나만의 구절</a
                  >
  
                  <ul class="dropdown-menu header__nav-menu">
                    <li>
                      <a class="drop-down-item" href="pboard.html">나만의 구절 작성중</a>
                    </li>
                   
                  </ul>
                </li>
                <li class="header__nav-item">
                  <a
                    class="header__nav-link"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-offset="0,10"
                    >토론장</a
                  >
  
                  <ul class="dropdown-menu header__nav-menu">
                    <li>
                      <a class="drop-down-item" href="blog.html">공백</a>
                    </li>
                    <li>
                      <a class="drop-down-item" href="blog-2.html">공백</a>
                    </li>
                  </ul>
                </li>
                <li class="header__nav-item">
                  
  
                  <ul
                    class="dropdown-menu header__nav-menu"
                    data-popper-placement="top-start"
                  >
                    <li>
                      <a class="drop-down-item" href="activity.html"
                        >내 정보 조회</a
                      >
                    </li>
                    <li>
                      <a class="drop-down-item" href="help.html">공백</a>
                    </li>
                    <li>
                      <a class="drop-down-item" href="help-single.html">공백</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
  
            <div class="header__actions">
              <div class="header__action header__action--search">
                <button class="header__action-btn" type="button">
                  <i class="icofont-search-1"></i>
                </button>
              </div>
  
              <div class="header__action header__action--profile">
                <div class="dropdown">
                  <a
                    class="dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-offset="-100,10"
                  >
                    <span><i class="icofont-user"></i></span>
                    <span class="d-none d-md-inline">김승언</span>
                  </a>
  
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="author.html"
                        ><span class="me-1"><i class="icofont-options"></i></span>
                        Edit Profile</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="activity.html"
                        ><span class="me-1"
                          ><i class="icofont-lightning-ray"></i
                        ></span>
                        Activity</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="signup.html"
                        ><span class="me-1"
                          ><i class="icofont-space-shuttle"></i
                        ></span>
                        Sign Up</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="signin.html"
                        ><span class="me-1"><i class="icofont-login"></i></span>
                        Sign In</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
  
                    <li>
                      <a class="dropdown-item" href="#">
                        Sign Out
                        <span class="ms-1"><i class="icofont-logout"></i></span
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="wallet-btn">
                <a href="wallet.html"
                  ><span><i class="icofont-wallet" data-blast="color"></i></span>
                  <span class="d-none d-md-inline">ISTJ</span>
                </a>
              </div>
            </div>
  
            <button class="menu-trigger header__btn" id="menu05">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </header>
      <!-- ===============//header section end here \\================= -->


    <!-- ==========Collection banner Section start Here========== -->
  
    <!-- ==========Collection banner Section Ends Here========== -->



    <!-- ==========Collection Single Section start Here========== -->
    <section class="collecion-single padding-bottom padding-top">
        <div class="container">
            <div class="section-header">
                <h3 class="header-title">내가 담은 도서</h3>
                <div class="header-content">
                  
                </div>
            </div>
            <div class="collection-single-wrapper">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="nft-item">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                              
                                    <div class="more-part">
                                                <a>
                                            </a>
                                  </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/nft-item/03.gif" alt="nft-img">

                                        <!-- nft countdwon -->
                                        
                                       
                                    </div>
                                    <div class="nft-content">
                                        <div class="content-title">
                                          <h5>
                                            <a href="item-details.html">위저드 베이커리</a>
                                          </h5>
                                        </div>
                
                                        <div
                                          class="nft-status d-flex flex-wrap justify-content-between align-items-center"
                                        >
                                          <span class="nft-view"
                                            ><a href="activity.html"
                                              ><i class="icofont-eye-alt"></i> View History</a
                                            >
                                          </span>
                                          <div class="nft-stock">12 in Stock</div>
                                        </div>
                                        <div
                                          class="price-like d-flex justify-content-between align-items-center"
                                        >
                                          <div class="nft-price d-flex align-items-center">
                                           
                                            <p>ENTJ</p>
                                          </div>
                
                                          <a href="item-details.html" class="nft-bid"
                                            >상세보기</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="nft-item">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                              
                                    <div class="more-part">
                                                <a>
                                            </a>
                                  </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/nft-item/03.gif" alt="nft-img">

                                        <!-- nft countdwon -->
                                        
                                       
                                    </div>
                                    <div class="nft-content">
                                        <div class="content-title">
                                          <h5>
                                            <a href="item-details.html">위저드 베이커리</a>
                                          </h5>
                                        </div>
                
                                        <div
                                          class="nft-status d-flex flex-wrap justify-content-between align-items-center"
                                        >
                                          <span class="nft-view"
                                            ><a href="activity.html"
                                              ><i class="icofont-eye-alt"></i> View History</a
                                            >
                                          </span>
                                          <div class="nft-stock">12 in Stock</div>
                                        </div>
                                        <div
                                          class="price-like d-flex justify-content-between align-items-center"
                                        >
                                          <div class="nft-price d-flex align-items-center">
                                           
                                            <p>ENTJ</p>
                                          </div>
                
                                          <a href="item-details.html" class="nft-bid"
                                            >상세보기</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="nft-item">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                              
                                    <div class="more-part">
                                                <a>
                                            </a>
                                  </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/nft-item/03.gif" alt="nft-img">

                                        <!-- nft countdwon -->
                                        
                                       
                                    </div>
                                    <div class="nft-content">
                                        <div class="content-title">
                                          <h5>
                                            <a href="item-details.html">위저드 베이커리</a>
                                          </h5>
                                        </div>
                
                                        <div
                                          class="nft-status d-flex flex-wrap justify-content-between align-items-center"
                                        >
                                          <span class="nft-view"
                                            ><a href="activity.html"
                                              ><i class="icofont-eye-alt"></i> View History</a
                                            >
                                          </span>
                                          <div class="nft-stock">12 in Stock</div>
                                        </div>
                                        <div
                                          class="price-like d-flex justify-content-between align-items-center"
                                        >
                                          <div class="nft-price d-flex align-items-center">
                                           
                                            <p>ENTJ</p>
                                          </div>
                
                                          <a href="item-details.html" class="nft-bid"
                                            >상세보기</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="nft-item">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                              
                                    <div class="more-part">
                                                <a>
                                            </a>
                                  </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/nft-item/03.gif" alt="nft-img">

                                        <!-- nft countdwon -->
                                        
                                       
                                    </div>
                                    <div class="nft-content">
                                        <div class="content-title">
                                          <h5>
                                            <a href="item-details.html">위저드 베이커리</a>
                                          </h5>
                                        </div>
                
                                        <div
                                          class="nft-status d-flex flex-wrap justify-content-between align-items-center"
                                        >
                                          <span class="nft-view"
                                            ><a href="activity.html"
                                              ><i class="icofont-eye-alt"></i> View History</a
                                            >
                                          </span>
                                          <div class="nft-stock">12 in Stock</div>
                                        </div>
                                        <div
                                          class="price-like d-flex justify-content-between align-items-center"
                                        >
                                          <div class="nft-price d-flex align-items-center">
                                           
                                            <p>ENTJ</p>
                                          </div>
                
                                          <a href="item-details.html" class="nft-bid"
                                            >상세보기</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="nft-item">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                              
                                    <div class="more-part">
                                                <a>
                                            </a>
                                  </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/nft-item/03.gif" alt="nft-img">

                                        <!-- nft countdwon -->
                                        
                                       
                                    </div>
                                    <div class="nft-content">
                                        <div class="content-title">
                                          <h5>
                                            <a href="item-details.html">위저드 베이커리</a>
                                          </h5>
                                        </div>
                
                                        <div
                                          class="nft-status d-flex flex-wrap justify-content-between align-items-center"
                                        >
                                          <span class="nft-view"
                                            ><a href="activity.html"
                                              ><i class="icofont-eye-alt"></i> View History</a
                                            >
                                          </span>
                                          <div class="nft-stock">12 in Stock</div>
                                        </div>
                                        <div
                                          class="price-like d-flex justify-content-between align-items-center"
                                        >
                                          <div class="nft-price d-flex align-items-center">
                                           
                                            <p>ENTJ</p>
                                          </div>
                
                                          <a href="item-details.html" class="nft-bid"
                                            >상세보기</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="nft-item">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                              
                                    <div class="more-part">
                                                <a>
                                            </a>
                                  </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/nft-item/03.gif" alt="nft-img">

                                        <!-- nft countdwon -->
                                        
                                       
                                    </div>
                                    <div class="nft-content">
                                        <div class="content-title">
                                          <h5>
                                            <a href="item-details.html">위저드 베이커리</a>
                                          </h5>
                                        </div>
                
                                        <div
                                          class="nft-status d-flex flex-wrap justify-content-between align-items-center"
                                        >
                                          <span class="nft-view"
                                            ><a href="activity.html"
                                              ><i class="icofont-eye-alt"></i> View History</a
                                            >
                                          </span>
                                          <div class="nft-stock">12 in Stock</div>
                                        </div>
                                        <div
                                          class="price-like d-flex justify-content-between align-items-center"
                                        >
                                          <div class="nft-price d-flex align-items-center">
                                           
                                            <p>ENTJ</p>
                                          </div>
                
                                          <a href="item-details.html" class="nft-bid"
                                            >상세보기</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="nft-item">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                              
                                    <div class="more-part">
                                                <a>
                                            </a>
                                  </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/nft-item/03.gif" alt="nft-img">

                                        <!-- nft countdwon -->
                                        
                                       
                                    </div>
                                    <div class="nft-content">
                                        <div class="content-title">
                                          <h5>
                                            <a href="item-details.html">위저드 베이커리</a>
                                          </h5>
                                        </div>
                
                                        <div
                                          class="nft-status d-flex flex-wrap justify-content-between align-items-center"
                                        >
                                          <span class="nft-view"
                                            ><a href="activity.html"
                                              ><i class="icofont-eye-alt"></i> View History</a
                                            >
                                          </span>
                                          <div class="nft-stock">12 in Stock</div>
                                        </div>
                                        <div
                                          class="price-like d-flex justify-content-between align-items-center"
                                        >
                                          <div class="nft-price d-flex align-items-center">
                                           
                                            <p>ENTJ</p>
                                          </div>
                
                                          <a href="item-details.html" class="nft-bid"
                                            >상세보기</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="nft-item">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                              
                                    <div class="more-part">
                                                <a>
                                            </a>
                                  </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/nft-item/03.gif" alt="nft-img">

                                        <!-- nft countdwon -->
                                        
                                       
                                    </div>
                                    <div class="nft-content">
                                        <div class="content-title">
                                          <h5>
                                            <a href="item-details.html">위저드 베이커리</a>
                                          </h5>
                                        </div>
                
                                        <div
                                          class="nft-status d-flex flex-wrap justify-content-between align-items-center"
                                        >
                                          <span class="nft-view"
                                            ><a href="activity.html"
                                              ><i class="icofont-eye-alt"></i> View History</a
                                            >
                                          </span>
                                          <div class="nft-stock">12 in Stock</div>
                                        </div>
                                        <div
                                          class="price-like d-flex justify-content-between align-items-center"
                                        >
                                          <div class="nft-price d-flex align-items-center">
                                           
                                            <p>ENTJ</p>
                                          </div>
                
                                          <a href="item-details.html" class="nft-bid"
                                            >상세보기</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Collection Single Section Ends Here========== -->





     <!-- ===============//footer section start here \\================= -->
   <footer class="footer-section">
    <div class="footer-top">
      <div class="footer-newsletter">
        <div class="container">
          <div class="row g-4 align-items-center justify-content-center">
            <div class="col-lg-6">
             
           
     
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
       <div class="text-center py-0 mb-0">
          <a href="home.html">
            <img
              src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/images/logo/nado_white%20(1).png"
              alt="nado_white"
            />
          </a>
        </div>
      <div class="container">
        <p class="text-center py-4 mb-0">
          All rights reserved &copy; 나만의 도서관
          
        </p>
      </div>
    </div>
  </footer>
  <!-- ===============//footer section end here \\================= -->

  <!-- scrollToTop start here -->
  <a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
  <!-- scrollToTop ending here -->




    <!-- All Scripts -->
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/waypoints.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/swiper-bundle.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/countdown.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/jquery.counterup.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/wow.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/jquery.simpleLoadMore.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/isotope.pkgd.min.js"></script>
    <script src="../../../../../../anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/assets/js/functions.js"></script>
</body>

</html>