<!DOCTYPE html>
<html lang="ko" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <meta name="author" content="Labartisan">
    <meta name="description"
          content="Anftiz is a full-fledged NFT or Digital assets marketplace HTML template. It is suitable for selling NFTs, or non-fungible tokens, Digital Arts, Digital Music & All types of Digital Assets. You can create, sell & collect NFT’s or digital assets through this website.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ====****>  Meta tags for Social Media(Better SEO)  <****==== -->
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:type" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->

    <!-- site favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <!-- ====== All css file ========= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/icofont.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- site title -->
    <title>나만의 도서관- MBTI에 맞는 도서추천 사이트</title>
</head>

<body class="home-3">
<!-- preloader start here -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- preloader ending here -->

<!-- ===============// header section start here \\================= -->
<header class="header" th:replace="fragment/common::header">
</header>
<!-- ===============//header section end here \\================= -->


<!-- ==========Activity Section start Here========== -->
<section class="activity-section padding-top padding-bottom">
    <div class="container">

        <div class="section-wrapper">
            <div class="row">
                <div class="col-xl-8">
                    <div class="section-header">
                        <h3 th:text="|${msg} 추천도서|">MBTI별 도서추천</h3>
                        <div class="nft-filter d-flex flex-wrap justify-content-center gap-15">
                        </div>
                    </div>
                    <div class="activity-wrapper activity-loadmore">
                        <div class="row gy-3" >
                            <div class="col-12" th:each="books: ${bookList}">
                                <div class="activity-item">
                                    <div class="lab-inner d-flex flex-wrap align-items-center p-3 p-md-4">
                                        <div class="lab-thumb me-3 me-md-4">
                                            <img th:src="${books.imageUrl}" alt="img">
                                        </div>
                                        <div class="lab-content">
                                            <h4><a th:href="@{/detail/{id}(id=${books.isbn})}" th:text="${books.title}">도서명</a></h4>
                                            <p class="mb-2" th:text="${books.author}">저자</p>
                                            <p class="mb-2" th:text="${books.publisher}">출판사</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Aside Part -->
                <div class="col-xl-4">
                    <aside class="mt-5 mt-xl-0">
                        <div class="widget widget-tags">
                            <div class="widget-header">
                                <div class="nft-search">
                                    <div class="form-floating nft-search-input">
                                        <input type="text" class="form-control" id="nftSearch" placeholder="Search NFT">
                                        <label for="nftSearch">도서 검색</label>
                                        <button type="button"> <i class="icofont-search-1"></i></button>
                                    </div>
                                </div>
                            </div>
                            <ul class="widget-wrapper justify-content-start" >
                                <li th:each="lists: ${list}">
                                    <a th:href="@{/recommend/{mbti}(mbti=${lists.mbti})}" th:text="${lists.mbti}">MBTI</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- ==========explore Section ends Here========== -->



<!-- ===============//footer section start here \\================= -->
<footer th:replace="fragment/footer::footer">
</footer>
<!-- ===============//footer section end here \\================= -->



<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
<!-- scrollToTop ending here -->




<!-- All Scripts -->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<script th:src="@{/js/swiper-bundle.min.js}"></script>
<script th:src="@{/js/countdown.min.js}"></script>
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/jquery.simpleLoadMore.min.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/functions.js}"></script>
</body>

</html>