<!DOCTYPE html>
<html lang="ko" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <meta name="author" content="Labartisan">
    <meta name="description"
        content="Anftiz is a full-fledged NFT or Digital assets marketplace HTML template. It is suitable for selling NFTs, or non-fungible tokens, Digital Arts, Digital Music & All types of Digital Assets. You can create, sell & collect NFT’s or digital assets through this website.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ====****>  Meta tags for Social Media(Better SEO)  <****==== -->
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:type" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->

    <!-- site favicon -->
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">

    <!-- ====== All css file ========= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/icofont.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- site title -->
 <title>나만의 도서관- MBTI에 맞는 도서추천 사이트</title>
</head>

<body class="home-3">
  <!-- preloader start here -->
  <div class="preloader">
    <div class="preloader-inner">
      <div class="preloader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
    <!-- preloader ending here -->

<!-- ===============// header section start here \\================= -->
  <header class="header" th:replace="fragment/common::header">
  </header>
  <!-- ===============//header section end here \\================= -->



    <!-- ==========Page Header Section Start Here========== -->
    <section class="variation-section padding-bottom padding-top">
      <div id="drag-container">
          <div id="spin-container">
            <!-- Add your images (or video) here -->
          
            <img
            src="assets/images/nft-item/위저드베이커리.jpg"
            alt="nft-img"/>
            <img
            src="assets/images/nft-item/달러구트꿈백화점.jpg"
            alt="nft-img"/>
            <img
            src="assets/images/nft-item/불편한편의점.jpg"
            alt="nft-img"/>
            <img
            src="assets/images/nft-item/아몬드.jpg"
            alt="nft-img"/>
            <img
            src="assets/images/nft-item/위저드베이커리.jpg"
            alt="nft-img"/>
            <img
            src="assets/images/nft-item/달러구트꿈백화점.jpg"
            alt="nft-img"/>
            <img
            src="assets/images/nft-item/불편한편의점.jpg"
            alt="nft-img"/>
            <img
            src="assets/images/nft-item/아몬드.jpg"
            alt="nft-img"/>
                     
           
          </div>
          <div id="ground"></div>
        </div>
        
        
<!-- ==========Page Header Section End Here========== -->

    <!-- ==========Create NFT Section start Here========== -->
    <section class="create-nft-section padding-bottom padding-top">
        <div class="container">
            <div class="section-wrapper">
                <div class="row justify-content-center">
                    
                    <div class="col-lg-8">
                        <!-- create item -->
                        <div class="create-nft py-4 px-4">
                            <form class="create-nft-form">
                                
                                <!-- item name input -->
                                <div class="form-floating item-name-field mb-3">
                                    <input type="text" class="form-control" id="itemNameInput" placeholder="Item Name">
                                    <label for="itemNameInput">한줄평을 등록해주세요.</label>
                                </div>
                                <!-- item-description -->
                                <div class="form-floating item-desc-field mb-30">
                                    <textarea class="form-control" placeholder="Item Description"
                                        id="itemDesc"></textarea>
                                    <label for="itemDesc">감상이나 추가 설명이 있을 경우 입력해주세요.</label>
                                </div>
                               
                                <!-- item price -->
                                <div class="item-price-field mb-3">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="container">
                                                <div class="feedback">
                                                    <div class="rating-1">
                                                        <input type="radio" name="rating-1" id="rating-5">
                                                        <label for="rating-5"></label>
                                                        <input type="radio" name="rating-1" id="rating-4">
                                                        <label for="rating-4"></label>
                                                        <input type="radio" name="rating-1" id="rating-3">
                                                        <label for="rating-3"></label>
                                                        <input type="radio" name="rating-1" id="rating-2">
                                                        <label for="rating-2"></label>
                                                        <input type="radio" name="rating-1" id="rating-1">
                                                        <label for="rating-1"></label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <select class="form-select" id="selectCrypto"
                                                        aria-label="Floating label select">
                                                    <option selected>
                                                        위저드 베이커리
                                                    </option>
                                                    <option value="1">
                                                        달러구트 꿈 백화점
                                                    </option>
                                                    <option value="2">불편한 편의점
                                                    </option>
                                                    <option value="3">아몬드
                                                    </option>

                                                </select>
                                                <label for="selectCrypto">도서 선택</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Royalites, Size & copy -->
                               
                                <!-- submit button -->
                                <div class="submit-btn-field text-center">
                                    <button type="submit">등록</button>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ==========Create NFT Section Ends Here========== -->


    <!-- ===============//footer section start here \\================= -->
    <footer class="footer-section">
        <div class="footer-top">
          <div class="footer-newsletter">
            <div class="container">
              <div class="row g-4 align-items-center justify-content-center">
                <div class="col-lg-6">



                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
           <div class="text-center py-0 mb-0">
              <a href="../../../../../../Desktop/KH%20파이널%20프로젝트/anftiz%20main%20file%20test0422/anftiz-buyerfile/anftiz-dark/home.html">
                <img
                  src="assets/images/logo/nado_white (1).png"
                  alt="nado_white"
                />
              </a>
            </div>
          <div class="container">
            <p class="text-center py-4 mb-0">
              All rights reserved &copy; 나만의 도서관

            </p>
          </div>
        </div>
      </footer>
      <!-- ===============//footer section end here \\================= -->
  
      <!-- scrollToTop start here -->
      <a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
      <!-- scrollToTop ending here -->



    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
    <!-- scrollToTop ending here -->




    <!-- All Scripts -->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/waypoints.min.js}"></script>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/countdown.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/wow.min.js}"></script>
    <script th:src="@{/js/jquery.simpleLoadMore.min.js}"></script>
    <script th:src="@{/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/js/functions.js}"></script>
    </section>
</body>

</html>